.c-item {
  height: 700px;
}
.c-img {
  height: 503px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.gif-img {
  border-radius: 20px;
  overflow: hidden;
}
.card-img {
  object-fit: fill;
}
.widget-card {
  border-radius: 12px;  
  margin-right: -40px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.detail-section {
  padding-top: 100px;
}
h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}
#first-card {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-text {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
.card-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px;
}
.last-para{
 padding-bottom: 30px; 
}
.last-photo{
  width: 400px;
}
