* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Brygada 1918', serif;
  color: #444;
}

.header-icon {
  margin-left: 10px;
  margin-right: 10px;
}
.container-fluid {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-link {
  font-size: 24px;
}

.nav-item {
  margin-right: 12px;
}
